<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>500 | Internal Server Error!</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{/css/error.css}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="page vertical-align text-center">
            <div class="page-content vertical-align-middle">
                <header>
                    <h1 class="animation-slide-top">500</h1>
                    <p>Internal Server Error !</p>
                </header>
                <p class="error-advise">Something went wrong.</p>
                <a class="btn btn-primary btn-round mb-5" th:href="@{/}">GO TO HOME PAGE</a>
                <footer class="page-copyright">
                    <p>© 2023. All RIGHT RESERVED.</p>
                </footer>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>