<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>WebMethods2MuleSoft - ProwessSoft</title>
      <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
      <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
      <link rel="stylesheet" th:href="@{/css/typography.css}">
      <link rel="stylesheet" th:href="@{/css/style.css}">
      <link rel="stylesheet" th:href="@{/css/responsive.css}">
   </head>
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
            <div class="loader">
               <div class="cube">
                  <div class="sides">
                     <div class="top"></div>
                     <div class="right"></div>
                     <div class="bottom"></div>
                     <div class="left"></div>
                     <div class="front"></div>
                     <div class="back"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <div th:replace="common/sidebar::sidebar"></div>
         <!-- TOP Nav Bar -->
         <div th:replace="common/topbar::topbar"></div>
         <!-- TOP Nav Bar END -->
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="col-sm-12 col-lg-12">
                     <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Help</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
            <div class="mt-2">Username: <span sec:authentication="principal.username"/></div>
            <div class="mt-2"> Roles: <span sec:authentication="principal.authorities"/></div>

            <div class="mt-5"><a class="link-primary" th:href="@{/logout}">Logout</a></div>
       
                           
                        </div>
                     </div>
                    
                     
                  </div>
            </div>
         </div>
      </div>
      <!-- Wrapper END -->
      <!-- Footer -->
      <footer class="bg-white iq-footer">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-6">
                  <ul class="list-inline mb-0">
                     <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                     <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                  </ul>
               </div>
               <div class="col-lg-6 text-right">
                  Copyright 2020 <a href="#">Sofbox</a> All Rights Reserved.
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer END -->
      <script th:src="@{/js/jquery.min.js}"></script>
      <script th:src="@{/js/popper.min.js}"></script>
      <script th:src="@{js/bootstrap.min.js}"></script>
      <script th:src="@{js/jquery.appear.js}"></script>
      <script th:src="@{js/countdown.min.js}"></script>
      <script th:src="@{js/waypoints.min.js}"></script>
      <script th:src="@{js/jquery.counterup.min.js}"></script>
      <script th:src="@{js/wow.min.js}"></script>
      <script th:src="@{js/apexcharts.js}"></script>
      <script th:src="@{js/slick.min.js}"></script>
      <script th:src="@{js/select2.min.js}"></script>
      <script th:src="@{js/owl.carousel.min.js}"></script>
      <script th:src="@{js/jquery.magnific-popup.min.js}"></script>
      <script th:src="@{js/smooth-scrollbar.js}"></script>
      <script th:src="@{js/chart-custom.js}"></script>
      <script th:src="@{js/custom.js}"></script>
      <script type="text/javascript">

      $( document ).ready(function() {
    	  function sendRedirect(){
    		  window.location= baseUrl+"/my-projects";
    	  }

    	  $("#downloadSample").click(function(){

        	});
    	  

    	 $("#uploadBtn").click(function(){
    		 
    		 var input_type = $("#input_type").val();
    		 var input_file = $("#input_file").val();
    		 var config_file = $("#config_file").val();
    		 
    		 if(input_file == ""){
    			 alert("Select input file");
    			 return false;
    		 }
    		 if(config_file == ""){
    			 alert("Select config file");
    			 return false;
    		 }
    		 console.log(new FormData($('#uploadForm')[0]));
    		
    		 $("#uploadBtn").attr("disabled", true); 
    		 $("#uploadBtn").css({'cursor' : 'wait'});
             $.ajax({
                 url: 'http://127.0.0.1:9001/api/uploadProject',
                 type:'post',
                 data: new FormData($('#uploadForm')[0]),
                 processData: false,
                 contentType: false,
                 success:function(data){
                     if(data.success == true)
                     {
                    	alert("Project uploaded");
                    	setTimeout(sendRedirect, 2000);
                        
                     }
                     else
                     {
                    	 alert(data.message)
                    	 //showAlert("Unauthorized! \nPlease check Client ID and Secret","danger")
                     }
                 },
                 error:function(e){
                	 alert("Unable to process request. Please contact support.");
                 },
                 complete:function(xhr,status){
                	 $("#uploadBtn").css({'cursor' : 'default'});
                	 $("#uploadBtn").attr("disabled", false); 
                 }
             });
    		 return false;
         });
      
    });

      </script>
   </body>
</html>